# Copy this file to /etc/ssl-approval.env and fill real values.
# DO NOT commit real tokens or secrets
JENKINS_URL="http://<jenkins-host>:8080"
JENKINS_USER="sreelakshmi"
JENKINS_API_TOKEN="11b0b08c9f574ae44b8067b2dd9222ea63"
JENKINS_JOB="ssl-cert-renewal-pipeline"
JENKINS_TRIGGER_TOKEN="ssl_approval_trigger_123"
OWNER_EMAIL="sreelakshmiksaji492@gmail.com"
